:root {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: #202A3C;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 5.71rem;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 5.21rem;
}

.header__logo svg {
    max-width: 176px;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
}

.header__nav-item {
    margin-left: 4.21rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 720px;
    text-align: center;

    /* TODO: wrap hero and features in a div and add a bg
    background-image: url(images/bg-curvy-desktop.svg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
} */
}

.hero__image {
    width: 100%;
    margin-bottom: 2.5rem;
}

.hero__title {
    font-size: 2.9rem;
    margin-bottom: 2.9rem;
    line-height: 4.29rem;
}

.hero__desc {
    max-width: 42.14rem;
    align-self: center;
    line-height: 2.14rem;
    font-size: 1.14rem;
    margin-bottom: 2.29rem;
}

.hero__button {
    width: 100%;
    max-width: 20rem;
    padding: 1.1rem 0;
    font-size: 1.42rem;
    align-self: center;
    background: linear-gradient(138.1deg, #63E1D9 -49.34%, #34A0CD 100%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 28px;
}

.features {
    width: 100%;
    max-width: 880px;
    padding-top: 11.29rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 78px 158px;
    /* background-color: #181F2B; */
}

.feature {
    flex-basis: 25rem;
    align-content: center;
    align-self: center;
}

.feature__title {
    font-size: 1.14rem;
    margin: 1.14rem 0 0.57rem;
}

.feature__image {
    width: 104px;
    height: 104px;
}

.feature__desc {
    line-height: 1.5rem;
}

.productivity-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 9.8rem;
    gap: 4rem;
}

.productivity-section__image {
    max-width: 615px;
    width: 100%;
}

.productivity-section__container {
    max-width: 40rem;
}

.productivity-section__container h3 {
    font-size: 2.9rem;
    line-height: 3.6rem;
    max-width: 26rem;

}

.productivity-section__container p {
    margin-top: 1.43rem;
    line-height: 1.7rem;
}

.productivity-section__container a {
    display: inline-flex;
    align-items: center;
    margin-top: 1.7rem;
    padding-bottom: 0.3rem;
    gap: 0.6rem;
    color: #62E0D9;
    border-bottom: 1px solid #62E0D9;
}