:root {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: #1B2330;
    color: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5.71rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
}