:root {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: #202A3C;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.get-started-button {
    width: 100%;
    max-width: 20rem;
    padding: 1.1rem 0;
    font-size: 1.42rem;
    font-family: inherit;
    align-self: center;
    background: linear-gradient(138.1deg, #63E1D9 -49.34%, #34A0CD 100%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 28px;
    border: none;
    color: white;
}

.get-started-button:hover {
    background: #8ADAE3;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 5.71rem;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 5.21rem;
}

.header__logo svg {
    max-width: 176px;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
}

.header__nav-item {
    margin-left: 4.21rem;
    font-size: 1.14rem;
}

.header__nav-item:hover {
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 1px #FFFFFF;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 720px;
    text-align: center;

    /* TODO: wrap hero and features in a div and add a bg

    USING BEFORE PSEUDO ELEMENT?
    
    background-image: url(images/bg-curvy-desktop.svg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
} */
}

.hero__image {
    width: 100%;
    margin-bottom: 2.5rem;
}

.hero__heading {
    font-size: 2.9rem;
    margin-bottom: 2.9rem;
    line-height: 4.29rem;
}

.hero__desc {
    max-width: 42.14rem;
    align-self: center;
    line-height: 2.14rem;
    font-size: 1.14rem;
    margin-bottom: 2.29rem;
}

.features {
    width: 100%;
    max-width: 880px;
    padding-top: 11.29rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 78px 158px;
    /* background-color: #181F2B; */
}

.feature {
    flex-basis: 25rem;
    align-content: center;
    align-self: center;
}

.feature__heading {
    font-size: 1.14rem;
    margin: 1.14rem 0 0.57rem;
}

.feature__image {
    width: 104px;
    height: 104px;
}

.feature__desc {
    line-height: 1.5rem;
}

.productivity-section {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin-top: 9.8rem;
    gap: 4rem;
}

.productivity-section__image-container {
    max-width: 615px;
}

.productivity-section__image {
    width: 100%;
}

.productivity-section__container {
    max-width: 40rem;
}

.productivity-section__container h3 {
    font-size: 2.9rem;
    line-height: 3.6rem;
    max-width: 26rem;

}

.productivity-section__container p {
    margin-top: 1.43rem;
    line-height: 1.7rem;
}

.productivity-section__container a {
    display: inline-flex;
    align-items: center;
    margin-top: 1.7rem;
    padding-bottom: 0.3rem;
    gap: 0.6rem;
    color: #62E0D9;
    border-bottom: 1px solid #62E0D9;
}

.testimonials, .testimonial__person {
    display: flex;
    align-items: center;
}

.testimonials {
    margin: 12.9rem 0 200px;
    justify-content: center;
    gap: 2.85rem;
    flex-wrap: wrap;
}

.testimonial {
    background-color: #202A3C;
    padding: 2.86rem 1.86rem 1.86rem;
    flex-basis: 25.7rem;
}

.testimonial:first-of-type {
    position: relative;
}

.testimonial:first-of-type::before {
    content: url("/images/bg-quotes.png");
    position: absolute;
    z-index: -1;
    top: -37px;
    left: -10px;
}

.testimonial__text {
    line-height: 1.5rem;
    margin-bottom: 1.7rem;
}

.testimonial__profile-image {
    max-width: 1.71rem;
    height: auto;
    border-radius: 50%;
    margin-right: 0.6rem;
}

.testimonial__profile-name {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.testimonial__profile-position {
    font-size: 0.5rem;
}

.footer-container {
    width: 100%;
}

.signup {
    margin: 0 auto -116px;
    max-width: 863px;
    background-color: #1B2330;
    padding: 3rem 5.5rem;
    text-align: center;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
}

.signup__heading {
    font-size: 2.3rem;
    margin-bottom: 1.14rem;
}

.signup__desc {
    line-height: 1.5rem;
    max-width: 660px;
}

.signup__form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.14rem;
    margin-top: 2.71rem;
}

.signup__email-container {
    position: relative;
    flex-grow: 3;
}

.signup__email {
    width: 100%; 
    border-radius: 1.7rem;
    padding: 1.14rem 2.71rem;
    border: none;
    font-family: inherit;
}

.signup__email::placeholder {
    color:  #C0C0C0;
    font-size: 0.9rem;
}

.signup__email:focus {
    outline: 2px solid #34A0CD ;
}

.error-message {
    content: "Please enter valid email.";
    display: none;
    position: absolute;
    color: red;
    top: -2rem;
    left: 2.71rem;
    margin-top: 5px;
}

.sent-message {
    display: block;
    color: lightgreen;
    top: -2.5rem;
    left: 2.71rem;
    margin-top: 5px;
}

.signup__button {
    max-width: 14.3rem;
    font-size: 1rem;
    cursor: pointer;
}

.footer-details-container {
    width: 100%;
    background-color: #0B1524;
    position: absolute;
    z-index: -1;
    padding: 170px 120px 0;
}

.footer-details {
    max-width: 1440px;
    margin: 0 auto 53px;
}

.footer-details__logo svg {
    max-width: 108px;
}

.footer {
    display: flex;
    margin-top: 52px;
    font-size: 1.14rem;
}

.footer__contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 20px;
}

.footer__contact > div:first-of-type {
    flex-basis: 379px;
    display: flex;
}

.footer__contact-icon {
    margin-right: 1.6rem;
}

.footer__contact-icon:first-of-type {
    margin-top: 4px;
}

.footer__details-block {
    display: flex;
    align-items: center;
}
 
.footer__details-block:first-of-type {
    margin-bottom: 16px;
}

.footer__nav {
    display: flex;
    column-gap: 80px;
    margin-left: 30px;
}

.footer__nav-list li {
    margin-bottom: 1.14rem;
    min-width: 100px;
}

.footer__nav-list li:hover {
    text-shadow: 0.5px 0.5px 1px #FFFFFF;
}

.footer__socials .fa-brands {
    color: white;
}

.footer__socials ul {
    display: flex;
    margin-left: 112px;
}

.footer__socials ul li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;  
    border: 1px solid white;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-left: 12px;
}

.footer__socials ul li:hover {
    border-color: #62E0D9;  
}

.footer__socials ul li:hover .fa-brands {
    color: #62E0D9;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .container {
        padding: 0 2rem;
        margin: 0 auto;
    }  

    .header {
        align-items: center;
    }

    .header__logo svg {
        max-width: 80px;
    }

    .header__nav-item {
        margin-left: 2.21rem;
        font-size: 1.14rem;
    }

    .testimonials {
        margin-bottom: 80px;
    }

    .footer-details-container {
        padding: 170px 2rem 0;
    }

    .footer {
        flex-direction: column;
        gap: 35px;
    }

    .footer__contact {
        flex-direction: column;
    }

    .footer__contact > div:first-of-type {
        flex-basis: auto;
    }

    .footer__nav {
        column-gap: 15px;
    }

    .footer__socials ul {
        margin-left: 20px;
    }
} 

@media screen and (max-width: 425px) {

    .header__nav-item {
        margin-left: 1rem;
        margin-bottom: 5px;
        font-size: 1rem;
    }

    .productivity-section {
        flex-wrap: wrap;
    }

    .signup {
        padding: 3rem;
    }

    .signup__button {
        max-width: 100%;
    }
    
}

